@using System.Collections.Generic
@model List<LocationWebModel>

<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        @foreach(var location in Model)
        {
            <tr>
                <th>@location.Id</th>
                <th>@location.Name</th>
                <th>@location.Address</th>
                <th><a asp-action="Details" asp-route-locationId="@location.Id"></a>Details</th>
            </tr>
        }
    </table>
</div>
